html {
scroll-behavior: smooth;

}

.heads {
    position: sticky;
    top: 0;
    z-index: 99;
}
.mainIcon{
    height: 50px;
    border-radius: 100%;
}

.intro-image{
    height:300px;
    width: 300px;
    border-radius:100%;
}

.intro-wrapper{

        background-image: url("/images/bg.jpg");
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


}


/* intro animation */
.intro{
    animation: example;
    animation-duration: 2s;
}
/*intro animation */


/* portfolio icons */
.wrap{
    margin: 0;
    opacity: 0;
    font-weight: lighter;

}




.portfolio-content:hover .portfolio-img{
    filter: blur(8px);
    

}

.portfolio-content:hover .wrap{
    opacity: 1;
}
/* portfolio icons */

/* animation */
@keyframes example {
    0%   {-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;}
    100% {    -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;}
  }
  /* animation */
